<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Podrex: Podcast Recommendations</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/4-col-portfolio.css" rel="stylesheet">
    <link href="../static/vendor/slider/slider.css" rel="stylesheet">
    <!-- rating dictionary creation via Matt Drury https://github.com/madrury/smoothers/blob/master/js/parameter-ui.js -->
    <script>
        get_selected_parameters = function() {
            let parameters = {};
            let sliders = document.getElementsByClassName("slider");
            let slider = null;
            for(let i = 0; i < sliders.length; i++) {
                    slider = sliders[i];
                    parameters[slider.getAttribute("data-s-id")] = Number(slider.value);
                }
            return parameters;
        };

        submit = function() {
            parameters = get_selected_parameters()
            $.post({
                url: "/predictions/",
                contentType: "application/json",
                data: JSON.stringify(parameters),
                success: function(result){
                    {
                        window.location.href = '/recommendations/' + result;
                    };
                 }
            });
        }
    </script>
    <style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

        fieldset, label { margin: 0; padding: 0; }
        /****** Style Star Rating Widget *****/

        .rating {
          border: none;
          float: left;
        }

        .rating > input { display: none; }
        .rating > label:before {
          margin: 5px;
          font-size: 1.25em;
          font-family: FontAwesome;
          display: inline-block;
          content: "\f005";
        }

        .rating > .half:before {
          content: "\f089";
          position: absolute;
        }

        .rating > label {
          color: #ddd;
         float: right;
        }

        /***** CSS Magic to Highlight Stars on Hover *****/

        .rating > input:checked ~ label, /* show gold star when clicked */
        .rating:not(:checked) > label:hover, /* hover current star */
        .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

        .rating > input:checked + label:hover, /* hover current star when changing rating */
        .rating > input:checked ~ label:hover,
        .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
    </style>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Podcast Directory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <header class="jumbotron my-4">
       <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-4">Welcome to podrex!</h1>
                  <p class="lead">We recommend podcasts based on how much you like podcasts you've already heard.</p>
                  <p class="lead">Rate some of the popular podcasts below to get some suggestions for new shows to try. <b>Don't feel overwhelmed</b>: the more you rate the better, but rating just four or five should give you some good shows. Leave the ones you don't recognize at 0.</p>
            </div>
            <div class="col-md-4">
                <img style="width:100%" src="http://podcasts-dragon-nba-who.s3-website-us-west-2.amazonaws.com/static/images/podrex.png" />
            </div>
        </div>
    </div>
     </header>

      <h3 class="my-4">Let's rate some podcasts!</h4>

      <div class="row">
          {% for card in cards %}
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://podcasts-dragon-nba-who.s3-website-us-west-2.amazonaws.com/static/artwork/{{ card.0 }}.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a>{{ card.1 }}</a>
              </h4>
              <p class="card-text">{{ card.3 }}</p>
                <fieldset class="rating{{ card.2 }}" id="stars{{ card.2 }}">
                    <input type="radio" id="star5_{{ card.2 }}" name="rating{{ card.2 }}" value="5" /><label class = "full" for="star5_{{ card.2 }}" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half_{{ card.2 }}" name="rating{{ card.2 }}" value="4.5" /><label class="half" for="star4half_{{ card.2 }}" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4_{{ card.2 }}" name="rating{{ card.2 }}" value="4" /><label class = "full" for="star4_{{ card.2 }}" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half_{{ card.2 }}" name="rating{{ card.2 }}" value="3.5" /><label class="half" for="star3half_{{ card.2 }}" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3_{{ card.2 }}" name="rating{{ card.2 }}" value="3" /><label class = "full" for="star3_{{ card.2 }}" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half_{{ card.2 }}" name="rating{{ card.2 }}" value="2.5" /><label class="half" for="star2half_{{ card.2 }}" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2_{{ card.2 }}" name="rating{{ card.2 }}" value="2" /><label class = "full" for="star2_{{ card.2 }}" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half_{{ card.2 }}" name="rating{{ card.2 }}" value="1.5" /><label class="half" for="star1half_{{ card.2 }}" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1_{{ card.2 }}" name="rating{{ card.2 }}" value="1" /><label class = "full" for="star1_{{ card.2 }}" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf_{{ card.2 }}" name="rating{{ card.2 }}" value="0.5" /><label class="half" for="starhalf_{{ card.2 }}" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
              <!--
              <input name="slider{{ card.2 }}" data-s-id="{{ card.2 }}" type="range" min="0" max="5" value="0" class="slider" />
              <output class="output" name="output_slider{{ card.2 }}" for="slider{{ card.2 }}"></output>
              <br>
          -->
              <input type="checkbox" name="not interested" value="0">  I'm not interested in podcasts like this</input>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.row -->
      <div class="row row-centered" style="margin-bottom:20px;">
        <div class="col-md-12 col-centered">
         <button class="btn btn-primary" type="button" onclick="submit();" style="display:block; margin:auto;">Get Recommendations</button>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Podrex 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
