<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Podrex: Podcast Recommendations</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon-16x16.png">
    <link rel="manifest" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/site.webmanifest">
    <link rel="mask-icon" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/4-col-portfolio.css" rel="stylesheet">
    <link href="../static/vendor/slider/slider.css" rel="stylesheet">

    <!-- Chosen dropdown boxes CSS -->
    <link href="../static/vendor/chosen/chosen.min.css" rel="stylesheet">

    <!-- podrex CSS -->
    <link href="../static/css/podrex.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Podrex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
            <li class="nav-item">
              <a class="nav-link" href="https://podrex.io/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/brettasmi/podrex">GitHub</a>
            </li>
             <!--
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <header class="jumbotron my-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <p class="h3" style="margin-top:1rem;">Welcome to podrex: podcast recommendations based on shows you already like.</h3>
                            <p class="lead" style="margin-top:1rem;"><strong>Input some of your favorite podcasts and/or rate some of the podcasts below. Then scroll down to get recommendations.</strong> </p>
                    </div>
                    <div class="col-md-3">
                        <img class="full-width" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/podrex.png" />
                    </div>
                </div>
            </div>
        </header>
        <div class="row row-centered">
        </div>
        <div class="row justify-content-center" id="favorites-row">
            <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"></a>
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            <a>One of my favorite podcasts:</a>
                        </h5>
                        <div>
                            <select id="fave0" data-placeholder="Choose a podcast.." class="chosen-select-deselect full-width" tabindex="2">
                                <option value=""></option>
                                {% for podcast in podcasts %}
                                <option value="{{ podcast.1 }}">{{ podcast.0 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="fave0-updated">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <div class="card-columns">
            {% for card in cards %}
            <div class="card">
                <a href="#"><img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/artwork/{{ card.0 }}.jpg" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title text-center thumb-card">
                        <a>{{ card.1 }}</a>
                    </h5>
                    <button id="up-{{ card.2 }}" data-s-id="{{ card.2 }}" data-t-type="up" class="btn btn-light thumbs thumbs-up" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <img class="full-width" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/thumbs-up-small.png"/>
                    </button>
                    <button id="down-{{ card.2 }}" data-s-id="{{ card.2 }}" data-t-type="down" class="btn btn-light thumbs thumbs-down" type="button" data-toggle="button" aria-pressed="false" autocomplete="off">
                        <img class="full-width" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/thumbs-down-small.png"/>
                    </button>

                    <!--Button trigger modal-->
                    <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#modal{{ card.2 }}">
                        See Description
                    </button>

                    <!--modal-->
                    <div class="modal fade" id="modal{{ card.2 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal{{ card.2 }}-content">{{ card.1 }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">{{ card.3 }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
            {% endfor %}
        </div>

        <!-- /.row -->
        <div class="row row-centered" style="margin-bottom:20px;">
            <div class="col-md-12 col-centered">
                <button class="btn btn-primary" type="button" onclick="submit();" style="display:block; margin:auto;">Get Recommendations</button>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Brett Smith 2018</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Chosen select boxes -->
    <script src="../static/vendor/chosen/chosen.jquery.js"></script>
    <script src="../static/vendor/chosen/docsupport/init.js"></script>
    <script src="../static/vendor/chosen/docsupport/prism.js"></script>
    <!-- Custom Podrex js -->
    <script src="../static/podrex.js"></script>
</body>

</html>
