<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Podrex: Podcast Recommendations</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon-16x16.png">
    <link rel="manifest" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/site.webmanifest">
    <link rel="mask-icon" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/4-col-portfolio.css" rel="stylesheet">
    <link href="../static/vendor/slider/slider.css" rel="stylesheet">

    <!-- podrex CSS -->
    <link href="../static/css/podrex.css" rel="stylesheet">
    <style>
    .thumb-card{border-bottom:none!important;}
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://podrex.io">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <!--
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Podcast Directory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <header class="jumbotron my-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <h3 class="display-6">Here's what I found</h3>
                        <p class="lead">Check out some of the podcasts below. Use the links underneath the description to find the podcast on iTunes or Stitcher. Feel free to bookmark this page to see your recommendations later.</p>
                    </div>
                    <div class="col-sm-2">
                        <img class="full-width" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/podrex.png" />
                    </div>
                </div>
                <div class="row" style="margin-top:2rem;">
                    <div class="col-md-8">
                        <p class="lead text-right">Search for popular podcasts about:</p>
                    </div>
                    <div class="col-md-4">
                        <input id="text-search" style="width:80%;" placeholder="ex. data science machine learning"></input>
                        <button id="search-button" class="btn btn-primary search-button" type="button" onclick="submit();">
                  <img class="full-width" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/search.png"/>
              </button>
                    </div>
                </div>
            </div>
        </header>

        <div class="card-columns" id="recommendations">
            {% for card in cards %}
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/artwork/{{ card.0 }}.jpg" alt=""></a>
                <div class="card-body">
                    <h5 class="card-title text-center">
                <a>{{ card.1 }}</a>
              </h5>
                    <p class="card-text">{{ card.3 }}</p>
                    <div class="links-box">
                        {% if card[4] %}
                            <a href="{{ card.4 }}"><img class="podcast-link link-image" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/itunes-square.png"/></a>
                        {% endif %}
                        {% if card[5] %}
                            <a href="{{ card.5 }}"><img class="podcast-link link-image" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/stitcher-square.png"/></a>
                        {% endif %}
                        {% if card[6] %}
                            <a href="{{ card.6 }}"><img class="podcast-link link-icon" src="https://s3-us-west-2.amazonaws.com/podcasts-dragon-nba-who/static/images/white-link.png"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Brett Smith 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/recommendations.js"></script>
</body>

</html>
